<section class="cortes">
    <div class="cabecalho_cortes">
        <h2 class="cabecalho_cortes-title">Conheça nossos cortes de cabelo</h2>
        <div class="cabecalho_cortes-line"></div>
        <p class="cabecalho_cortes-text">Acreditamos que cada corte de cabelo é uma expressão única de estilo e personalidade. Oferecemos três tipos básicos de cortes, cada um adaptado para realçar a sua autenticidade:</p>
    </div>

    <div class="card-cortes">
        <div class="card">
            <div class="img"></div>
            <div class="card-content">
                <h4>Corte todo à máquina</h4>
                <p>Para aqueles que adoram a praticidade sem perder o estilo. O corte todo à máquina na Beard & Co é prático, moderno e garante um visual impecável. Saia pronto para arrasar em minutos!</p>
            </div>
        </div>

        <div class="card">
            <div class="img"></div>
            <div class="card-content">
                <h4>Corte Máquina + Tesoura</h4>
                <p>A combinação perfeita que une o melhor dos dois mundos, utilizando máquina para a precisão e tesoura para os detalhes que fazem toda a diferença. Um equilíbrio perfeito entre praticidade e elegância.</p>
            </div>
        </div>

        <div class="card">
            <div class="img"></div>
            <div class="card-content">
                <h4>Corte Todo à Tesoura</h4>
                <p>Para aqueles que buscam um toque mais clássico e personalizado, o corte todo à tesoura é a escolha ideal. Nossos barbeiros utilizam suas habilidades únicas para esculpir um visual totalmente seu.</p>
            </div>
        </div>
    </div>
</section>
