.cortes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-height: 100vh;
    padding: 2rem 1rem;

    .cabecalho_cortes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;

        .cabecalho_cortes-title {
            font-size: 1.6rem;
            color: #35363A;
        }

        .cabecalho_cortes-line {
            background-color: #FFE500;
            width: 70vw;
            height: .3rem;
            max-width: 20rem;
        }

        .cabecalho_cortes-text {
            font-size: 1.125rem;
            line-height: 1.5rem;
            color: #35363A;
        }
    }

    .card-cortes {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .card {
            display: grid;
            grid-template-rows: 10rem minmax(30vh, auto);
            
            .img {
                background-color: #35363A;
                border-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
            }

            .card-content {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                text-align: center;
                background-color: #FFE500;
                padding: 1.4rem 1.1rem;
                border-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;

                h4 {
                    font-size: 1.3rem;
                    text-transform: capitalize;
                }

                p {
                    line-height: 1.5rem;
                }
            }
        }
    }
}

@media(min-width: 768px) {
    .cortes {


        .card-cortes {
            flex-direction: row;
            justify-content: center;
        }
    }
}