<footer>
    <section class="footer__content">
        <div class="footer__content--title">
            <h2>BARBEARIA BARRETOS</h2>
        </div>
    
        <nav class="footer__content--nav">
            <div class="footer__content--nav_lists">
                <h4>Agenda</h4>
                <ul>
                    <li><a href="#">Leonardo Silva</a></li>
                    <li><a href="#">Deivid Barreto</a></li>
                    <li><a href="#">Dennys Barreto</a></li>
                    <li><a href="#">Daniel Barreto</a></li>
                </ul>
            </div>
            <div class="footer__content--nav_lists">
                <h4>Siga-nos</h4>
                <ul>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">YouTube</a></li>
                </ul>
            </div>
            <div class="footer__content--nav_lists">
                <h4>Mapa do Site</h4>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Serviços</a></li>
                    <li><a href="">Galeria</a></li>
                    <li><a href="">Quem somos</a></li>
                    <li><a href="">Contato</a></li>
                </ul>
            </div>
            <div class="footer__content--nav_lists">
                <h4>Privacidade</h4>
                <ul>
                    <li><a href="">Política de privacidade</a></li>
                    <li><a href="">Termos</a></li>
                </ul>
            </div>
        </nav>
    </section>

    <div class="footer__copy">
        <span>&copy; Todos os direitos reservados 2024</span>
    </div>
</footer>