<header>
    <div class="header_menu">
        <div class="header_menu-btn" (click)="changeIcon()">
            <ng-icon [name]="menuAtualIcon"></ng-icon>
        </div>
        <h1 class="header_menu-logo">Barretos Barbearia</h1>
    </div>
    <nav class="header_nav" [class.openMenu]="hendleMenuIcon">
        <ul class="header_nav-list">
            <li><a href="#home">Home</a></li>
            <li><a href="#services">Serviços</a></li>
            <li><a href="#gallery">Galeria</a></li>
            <li><a href="#about-us">Quem somos</a></li>
            <li><a href="#contact">Contato</a></li>
        </ul>
    </nav>
</header>