<section class="about">
    <div class="about__title">
        <h2>A BARBEARIA COM O CLUBE DE HOMENS MAIS ELEGANTES DO RJ</h2>
    </div>

    <div class="about__content">
        <p class="about__content--text">
            Somos referência quando o assunto é aumentar a autoestima e a confiança dos homens.<br>
            Na Don Leon você não apenas corta cabelo, você sai transformado, e pronto para encarar o dia a dia com muita elegância e estilo.
        </p>
        <div class="about__content--box-card">
            <h3>DESDE 2018</h3>
            <p>Elevando a autoestima de homens através da nossa High Experience.</p>
        </div>

        <div class="about__content--box-card">
            <h3>8 PROFISSIONAIS</h3>
            <p>Para atender você com excelência e qualidade.</p>
        </div>
    </div>
</section>
