<section class="about">
    <div class="about__content">
        <div class="about__content--title">
            <h2>A BARBEARIA COM O CLUBE DE HOMENS MAIS ELEGANTES DO RJ</h2>
        </div>
    
        <div class="about__content--text">
            <p class="about__content--text__p">
                Somos referência quando o assunto é aumentar a autoestima e a confiança dos homens.<br>
                Na Barretos Barbearia você não apenas corta cabelo, você sai transformado, e pronto para encarar o dia a dia com muita elegância e estilo.
            </p>
            <div class="about__content--box-card">
                <h3>DESDE 2024</h3>
                <p>Elevando o padrão de beleza de homens através de uma tesoura, um pente e uma mão super habilidosa.</p>
            </div>
    
            <div class="about__content--box-card">
                <h3>8 PROFISSIONAIS</h3>
                <p>Para atender você com excelência e qualidade.</p>
            </div>
        </div>
    </div>

    <div class="about__img"></div>
</section>
