@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "./app/styles/components/card";

html {
    scroll-behavior: smooth;
}

body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
} 

.openMenu {
    height: 50vh !important;
}